#us-map{
    display: block;
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
  }
  path:hover, circle:hover {
    stroke: #C07574 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #C07574 !important;
  }
  #path67 {
    fill: none !important;
    stroke: #A9A9A9 !important;
    cursor: default;
  }
  #info-box-us-map {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    border: 2px solid #C07574;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
  }

  .us-map-small-states{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    gap:5px;
    width:21%;
  }
  .small-state{
    font-size: 12px;
    background-color: #ca9e6c;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
  }
  .small-state:hover {
    background-color: #C07574;
    color: white;
  }
  .legends-text-us-map{
    font-size: 20px;
    font-weight: 600;
  }
  .present-legend-us-map{
    width: 20px;
    height: 20px;
    border-radius: 10%;
    background-color: #598c8f;
  }
  .comming-legend-us-map{
    width: 20px;
    height: 20px;
    border-radius: 10%;
    background-color: #ca9e6c;
  }

  #us-map text {
    shape-rendering: crispEdges;
    text-rendering: optimizeLegibility;
  }
  /* Styling states manually i.e font size, transform, x, y  */

  #ca-text {
    font-size: 22px;
    transform: rotate(70deg); /* Rotate 70 degrees */
    transform-origin: 255.599968px 345.499969px; /* Rotate around the center of the text */
}
#id-text {
    transform: translate(-7px, 40px);
}
#ks-text {
  font-size: 17px;
}
#ut-text {
  font-size: 18px;
}
#ok-text{
  transform: translate(20px, 0px);
}
#mn-text {
  transform: rotate(70deg);
  transform-origin: 679.049988px 204.550011px; /* Rotate around the center of the text */
}
#ia-text{
  font-size: 18px;
}
#ar-text{
  font-size: 14px;
}
#la-text{
  font-size: 14px;
  transform: rotate(70deg);
  transform-origin: 733.049988px 536.550011px; /* Rotate around the center of the text */
}
#ms-text{
  font-size: 14px;
  transform: rotate(70deg);
  transform-origin: 774.049988px 518.550011px; /* Rotate around the center of the text */
}
#in-text{
  font-size: 15px;
  transform: rotate(84deg);
  transform-origin: 818.049988px 355.550011px; /* Rotate around the center of the text */
}
#mi-text{
  font-size: 14px;
  transform: rotate(70deg);
  transform-origin: 798.049988px 278.550011px; /* Rotate around the center of the text */
}
#ky-text{
  transform: rotate(-30deg);
  transform-origin: 840.049988px 382.550011px; /* Rotate around the center of the text */
}
#tn-text{
  font-size: 17px;
  transform: rotate(-5deg);
  transform-origin: 828.049988px 475.550011px; /* Rotate around the center of the text */
}
#oh-text{
  font-size: 15px;
}
#ny-text{
  transform: rotate(-20deg);
  transform-origin: 1002.049988px 269.550011px; /* Rotate around the center of the text */
}
#pa-text{
  font-size: 12px;
}
#va-text{
  transform: rotate(-20deg);
  transform-origin: 982.049988px 341.550011px; /* Rotate around the center of the text */
}
#wv-text{
  transform: rotate(-30deg);
  transform-origin: 934.049988px 375.550011px; /* Rotate around the center of the text */
}
#nc-text{
  transform: rotate(-10deg);
  transform-origin: 934.049988px 375.550011px; /* Rotate around the center of the text */
}
#sc-text{
  transform: rotate(10deg);
  transform-origin: 1011.049988px 467.550011px; /* Rotate around the center of the text */
}
#fl-text{
  font-size: 20px;
  transform: rotate(60deg);
  transform-origin: 920.049988px 645.550011px; /* Rotate around the center of the text */
}



/* Hiding internal text of small states */
#nh-text, #vt-text, #ma-text, #ri-text, #ct-text, #nj-text, #de-text,#md-text{
  display: none;
}

#hi-text{
  fill: black;
}


@media only screen and (max-width: 600px) {
  .us-map-small-states{
    margin-top: 20px !important;
    gap:3px !important;
    width:50%; 
  }
  .small-state{
    font-size: 7px !important;
    padding: 3px 5px !important;
  }
  .legends-text-us-map{
    font-size: 12px;
  }
  .present-legend-us-map, .comming-legend-us-map{
    width: 10px;
    height: 10px;
  }
}